body {
    width: 100%;
}
header {
    background-color: black;
    display: grid;
    color: white;    
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 50px solid black;

        .logo {
            background-image: url(/images/logo.png);
            height: 200px;
            width: 200px;
            grid-column-start: 2;
            font-size: 20px;
            background-size: cover;
        }

        nav {
            order: 3;
            display: grid;
            align-items: end;
            // justify-content: center;
            
                
               ul li {
                    display: inline;
                    margin: 0 10px;
                    
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: 'Open Sans';
                        font-weight: 300;
                        font-style: normal;
                        font-size: 20px;
                        transition: .2s ease-in;

                        &:hover {
                            color: #1485cc;
                            text-decoration: underline;
                        }
                    }
                }
            
        }
}

.main {

    .grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // background-color: rgb(102, 79, 201);
        height: 1342px;
        width: 96%;
        grid-gap: 15px;
        margin: 50px auto;

        .content-box {
            background-color: #f2f2f2;    
        }
    }

}