body {
    width: 100%;
}
header {
    background-color: black;
    display: grid;
    color: white;    
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 30px solid black;
    border-top: 20px solid black;

    .logo {
        background-image: url(../images/logo.png);
        height: 250px;
        width: 250px;
        grid-column-start: 2;
        font-size: 20px;
        background-size: cover;
    }

    nav {
        order: 3;
        display: grid;
        align-items: end; 
            
        ul li {
            display: inline;
            margin: 0 10px;
            
            a {
                color: white;
                text-decoration: none;
                @extend %openSansLight;
                font-size: 20px;
                transition: .2s ease-in;

                &:hover {
                    background-color: rgb(41, 41, 41);
                    color: #1485cc;
                    text-decoration: underline;
                    padding: 10px;
                    border-radius: 10px;
                    letter-spacing: 2px;
                    font-size: 21px;
                }
            }
        }
    }
}

#beers {
    // visibility: hidden;
    // animation: 1s ease-in;
    // display: none;

    .grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 99%;
        grid-gap: 30px;
        margin: 50px auto;

        .content-box {
            background-color: #f2f2f2;
            @extend %flex;
            text-align: center;
            height: 800px;

            &:hover {
                background-color: rgb(228, 228, 228);
            }

            .vice-bier {
                width: 150px;
            }

            img {
                height: 275px;
                width: auto;
            }

            h1 {
                font-size: 22px;
                margin: 5% 0;
                @extend %openSansBold;
            }

            p {
                width: 71%;
                font-size: 20px;
                @extend %openSansLight;
                height: 15rem;
            }

            h2 {
                font-size: 20px;
                @extend %playfairDisplayRegular;
            }

            h3 {
                font-size: 30px;
                @extend %playfairDisplayBold;
            }

            .characteristics {
                display: flex;
            }

            a {
                margin: 10px;
                text-align: center;
                margin: 10px;
                padding: 20px;
                text-decoration: none;
                color: black;
            
                &:hover{    
                    background-color: #FBBA00;
                }  
            }                      
        }
    }
}

#quick-find {
    visibility: hidden;
    animation: 1s ease-in;
    display: none;

    .quick {
        display: grid;
        grid-template-columns: 1fr;
        background-color:whitesmoke;
        height: 450px;
        width: 99%;
        margin: 40px auto;

        .quick-box {
            display:flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans';
            font-style: normal;
            margin-bottom: 70px;
        }

        .quick-beer {
            order:1;
            width: 200px;
        }

        aside {
            order:2;
            display:flex;
            flex-direction: column;
            width: 450px;
            align-items: center;
        }
    
        h1 {
            order: 2;
            font-size: 24px;
            font-weight: 500;
            padding: 10px 0;
            font-weight: 600;
        }

        h4 {
            padding: 20px 0;
            font-size: 24px;
            font-weight: 400;
        }

        p {
            font-size: 17px;
        }
    
        .quickP {
            text-align: center;

            h1 {
                @extend %openSansBold;
            }

            p {
                @extend %openSansLight;
            }

            h4 {
                color: #1485CC;
            }
        }

        .bottle-size {
            height: 365px;
            width: auto;
        }

        .characteristics {
            display: flex;
        }

        a {
            margin: 10px;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            color: black;

            &:hover{    
                background-color: #FBBA00;
            }

            h2 {
                @extend %playfairDisplayRegular;
            }

            h3 {
                @extend %playfairDisplayBold;
                font-size: 25px;
            }
        }                      
    
        button {
            @extend %styleButton;
            @extend %openSansBold;
            margin: 10px;
            background-color: #1485cc;
            transition: 0.1s ease-in-out;

            &:hover {
                background-color: #166ca1;
            }
        }
    }
}

.stupid-button {
      @extend %flex;

    .random {
        @extend %styleButton;
        @extend %openSansBold;
        background-color: #ffca00;
        margin: 20px;

        &:hover {
            background-color: #c79f00;
            transition: 0.1s ease-in-out;
        }
    }
}

#pick-beer {
    display: none;
    visibility: hidden;

    .pick-a-beer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: #F4F4F4;
        width: 50%;
        margin: auto;
        font-family: 'Open Sans';
        font-weight: 300;
        font-style: normal;
        overflow: hidden;

        .form-pick-a-beer {
            height: 70px;
        }

        #text-pick {
            grid-column: 1;
            grid-row: 1;
            color: #0C6CD4;
            font-weight: 600;
            display: flex;
            justify-content: center;
            margin-top: 35px;
            margin-bottom: 30px;
        }

        .name-pick {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;
            justify-self: start;
            margin-left: 35px;

            input {
                height: 30px;
                width: 180px;
                margin-left: 10px;
            }
        }

        .hops-pick {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 2;
            margin-left: 110px;
            justify-self: center;

            input{
                height: 30px;
                width: 180px;
                margin-left: 10px;
            }
        }

        .abv-pick {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 3;
            justify-self: center;

            input {
                height: 30px;
                width: 90px;
                margin-left: 10px;
            }
        }

        .ibu-pick {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row: 3;
            justify-self: center;

            input {
                height: 30px;
                width: 90px;
                margin-left: 10px;
            }
        }

        .ebc-pick {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 3;
            justify-self: center;

            input {
                height: 30px;
                width: 90px;
                margin-left: 10px;
            }
        }

        .button-pick-a-beer {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 4;
            justify-self: center;
        
        button {
            background-color: #047CBB;
             padding: 10px 13px;
             color: white;
             border: none;
             font-family: 'Open Sans';
             font-weight: 600;
             font-style: normal;
             font-size: 12px;
            }
        }
    }
}

:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
        margin: 10% auto;
        width: 60%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: var(--modal-duration);

        .modal-body {
            padding: 60px 20px;
            background: #fff;            

            li {
                margin: 50px;
                font-size: 22px;
                @extend %openSansBold;

                p {
                    @extend %openSansRegular;
                }
            }
        }
    
        .modal-header {
            background: var(--modal-color);
            padding: 40px;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            h2 {
                order: 1;
                font-size: 22px;
                @extend %openSansBold;
            }

            span {
                order: 2;
            }
          
            .close {
                color: #ccc;
                float: right;
                font-size: 30px;
                color: #fff;

                &:hover {
                    color: black;
                }

                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .modal-header h2, .modal-footer h3 {
                margin: 0;
                
            }
        }  
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    .pagination {
        grid-column-start: 2;
        align-self: center;

        .active {
                background-color: #1485CC;
                color: white;
            }

        a {
            @extend %openSansLight;
            font-size: 25px;
            padding: 15px 23px;
            text-decoration: none;
            border-radius: 5px;

            &:hover {
                background-color: #1485CC;
                color: white;
            }
        }
    }
}